<header>
  <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    <%= link_to 'EasyBlog', root_path, class: 'navbar-brand' %>

    <% if user_signed_in? %>
      <%# あとで見た目整える %>
      <ul class="nav justify-content-end" style="position: relative;">
        <li class="nav-item d-flex align-items-center">
          <div class="d-flex align-items-center header-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="nav-link disabled">
              <%= image_tag current_user.display_profile_image, size: '35x35' %>
              <%= current_user.name %>
            </a>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to new_blog_path, class: 'dropdown-item' do %>
              <%= fa_icon 'plus-square', text: 'ブログ投稿' %>
            <% end %>
            <%= link_to '#', class: 'dropdown-item' do %>
              <%= fa_icon 'user', text: 'ユーザー情報編集' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link disabled' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link disabled' %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
